MONGODB_URI =mongodb+srv://kalpithawanigasinhe:vibhu2003@cluster0.8fn1r.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
TOKEN_SECRET_KEY = asdfgagasdoeitupqituweiewotuewitouw
FRONTEND_URL =http://localhost:3000